<div class="parent">
    <div>
        <h2>About Us</h2>
        <p>Welcome 1</p>
    </div>
    <div>
        <h2>About Us</h2>
        <p>Welcome 2</p>
    </div>
    <div>
        <h2>About Us</h2>
        <p>Welcome 3</p>
    </div>
    <div>
        <h2>About Us</h2>
        <p>Welcome 4</p>
    </div>
    <div>
        <h2>About Us</h2>
        <p>Welcome 5</p>
    </div>
    <div>
        <h2>About Us</h2>
        <p>Welcome 6</p>
    </div>
<!--     <div>
        <h2>About Us</h2>
        <p>Welcome 7</p>
    </div>
    <div>
        <h2>About Us</h2>
        <p>Welcome 8</p>
    </div>
    <div>
        <h2>About Us</h2>
        <p>Welcome 9</p>
    </div>
    <div>
        <h2>About Us</h2>
        <p>Welcome 10</p>
    </div>
    <div>
        <h2>About Us</h2>
        <p>Welcome 11</p>
    </div> -->

</div>
