<mat-drawer-container>
   <mat-drawer-content>
        <div class="slider">
            <div class="slider-content">
                <div class="row">
                    <h1>Washington State Housing Finance Commission</h1>  
                </div>
            </div>
        </div>
        <div class="features">
            <div class="row">
              <div class="column">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <h3>What We Do</h3>
                <p>Our goal is to create real, positive change and improve the quality of life for Washington's residents.
                </p>
              </div>
              <div class="column">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <h3>Who Benefits </h3>
                <p>Seniors, the homeless, working families, people with disabilities, new farmers/ranchers
                </p>
              </div>
              <div class="column">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <h3>Our Partners
                </h3>
                <p>Housing developers, nonprofits, real-estate professionals, loan officers, property managers.
                </p>
              </div>
            </div>
        </div>
        
        <div class="contents">
            <h2 class="center-content">How We Help</h2>
            <mat-grid-list cols="4" rowHeight="2:1">

                <mat-grid-tile>
                    <h3>Rental Housing</h3>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>Since 1983, our financing has created thousands of affordable apartments statewide using tax-exempt bonds and housing credits</p>
                </mat-grid-tile>
                <mat-grid-tile><img src="https://images.pexels.com/photos/1370704/pexels-photo-1370704.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
                </mat-grid-tile>
                <mat-grid-tile>
                    Rental Housing Developers
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <h3>Homeownership</h3>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>Our homeownership programs offer not only home loans but valuable downpayment assistance and free home-buyer education</p>
                </mat-grid-tile>
                <mat-grid-tile><img src="https://images.pexels.com/photos/2950003/pexels-photo-2950003.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
                </mat-grid-tile>
                <mat-grid-tile>
                    Homebuyers, Homeowners, Lenders
                </mat-grid-tile>

                <mat-grid-tile>
                    <h3>Beyond Housing</h3>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>In addition to housing, the Commission finances many other projects that enhance communities</p>
                </mat-grid-tile>
                <mat-grid-tile><img src="https://images.pexels.com/photos/414837/pexels-photo-414837.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
                </mat-grid-tile>
                <mat-grid-tile>
                    Energy, Farmer/Rancher, Land Acquisition
                </mat-grid-tile>
                
                
            </mat-grid-list>
           
        </div>

        <div class="contactus">
            <h2 class="center-content">Subscribe now to get updates</h2>
            <form>
              <mat-form-field class="center-content" appearance="fill">
                <mat-label class="center-content">Email Address</mat-label>
                <input matInput>
              </mat-form-field>
              <span class="center-content"><button mat-flat-button>Subscribe Now</button></span>

            </form>
          </div>
   </mat-drawer-content> 
</mat-drawer-container>
